<div>
  <table class="table-fill">
    <thead>
    <tr>
      <th class="text-left">Logo</th>
      <th class="text-left">Name</th>
      <th class="text-left">Club</th>
      <th class="text-left">City</th>
      <th class="text-left">Manager</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teams">
      <td><img class="logo" src="{{team.logo}}"/></td>
      <td (click)="loadTeam(team.teamId)" class="text-left">{{team.teamDisplayName}}</td>
      <td class="text-left">{{team.teamName}}</td>
      <td class="text-left">{{team.city}}</td>
      <td class="text-left">{{team.manager}}</td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<div *ngIf="selectedTeam">
  <p>{{selectedTeam.teamDisplayName}}</p>
  <p><img class="logo" src="{{selectedTeam.logo}}"/></p>
  <p>Team Manager:{{selectedTeam.manager}}</p>
  <p>Games played: {{selectedTeam.standings.gamesPlayed}}</p>
  <p>Wins: {{selectedTeam.standings.wins}}</p>
  <p>Losses: {{selectedTeam.standings.losses}}</p>
  <p>Points: {{selectedTeam.standings.points}}</p>
  <br>
  <p (click)="closeSelectedTeam()">Close</p>
  <br>
  <br>
  <br>
</div>
