<div align="center">
  <img height="232px" width="658px" alt="Basketball Logo" src="../../assets/banner.png">
  <br>
  <div class="header" align="center">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/teams">Teams</a></li>
      <li><a href="/standings">Standings</a></li>
      <li><a href="/games">Games</a></li>
      <li *ngIf="!isSignedIn()"><a href="/login">Login</a></li>
      <li *ngIf="isSignedIn()"><a (click)="logOut()">Log out</a></li>
      <li *ngIf="isSignedIn()"><a href="/contacts">Contacts</a></li>
    </ul>
  </div>
</div>
